/* 
*******************************************
*******************************************
*******************************************

  *****
  ***** costumize
  *****

*******************************************
*******************************************
*******************************************

*/

#admin-page {
  padding-top: 0;
}

label {
  cursor: pointer;
}
.leaveReply{
  cursor: pointer;
}
.replyForm{
  display : none;
}

